<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../styles/styleindex.css">

    <title>About Bad Saarow</title>

    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" type="image/x-icon">

    <!-- custom script -->
  <script type="text/javascript" src="scripts/app.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="../views/index.html">
          <img alt="Visit Bad Saarow" src="../assets/logo/visitlogo.png">
          </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li ><a  href="../views/stay.html">Stay</a></li>
          <li ><a  href="../views/do.html">Activities</a></li>
          <li ><a  href="../views/eat.html">Gastronomy</a></li>
          <li ><a  href="../views/about.html">About/Directions</a></li>
          <li><a href="../views/indexFR.html"> <img src="../assets/languagebuttons/frenchflag2.png"></a><li>
          <li><a href="../views/index.html"><img href="../views/index.html" src="../assets/languagebuttons/ukflag2.png"></a><li>
      </ul>
    </div>
  </div>
</nav>

    <div class="image">
      <img src="../assets/bahnhof5.jpg" id="aboutheader" alt="aboutheader">
      <h1 id="aboutbadsaarow">About/Directions</h1>
      <a href="#aboutanchor">
          
          <span class="whitedownbutton glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
    </div>
    
    <div class="container">
      <div class="row">
        
        <div class="col-xs-12 col-md-10">
          <a name="aboutanchor"><h1 class="anchorlink">Bad Saarow</h1></a>
          <p>Bad Saarow is a lovely small town on the Scharmützelsee about 70 kilometres from Berlin. It is famous for it's thermal baths and lovely nature. Only a few cities in Germany are allowed to be called "Bad" by law. Because the title of "Bad" implies certain mineral qualities to the water.</p>
          
        </div>
      </div>

      <div class="row eat thumbnail">
        <div  class="col-xs-12 col-md-5">
          <img src="../assets/directions.png" id="therme">
          
        </div>
<! Directions>
        <div class="col-xs-12 col-md-offset-1 col-md-6">
          <h3 class="location">Directions</h3>
          <p>60 minutes from the Berlin main train station. With the S-Bahn to Fürstenberg, change to the Bäderbahn that will take you to the picturesque Bad Saarow train station.</br> <a href="https://goo.gl/maps/r8KooD5BE4n" class="glyphicon glyphicon-globe location">GoogleMaps</a>
          </p>
        </div>
      </div>
<!Spa>
      <div class="row eat">
        <div class="col-xs-12 col-md-6">
          <h3 class="location">State recognized Spa City</h3>
            <p>Bad Saarow carries special properties Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla
            </p>
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-5">
            <img src="../assets/thermen.jpg">
        </div>
      </div>
<! Spirituality>
      <div class="row thumbnail eat">
        <div class="col-xs-12  col-md-5">
          <img src="../assets/buddhist.jpg" class="buddhist">
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-6">
          <h3 class="location">The spiritual significance</h3>
          <p>Bad Saarow carries special properties Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
          </p>
        </div>
      </div>
<! Lake>
      <div class="row eat">
        <div class="col-md-6">
          <h3 class="location">Biggest lake in Brandenburg</h3>
          <p>Bad Saarow carries special properties Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla
          
          </p>
        </div>
        <div class="col-md-offset-1 col-md-5">
          <img src="../assets/biggestlake.jpg" class="buddhist">
        </div>
      </div>
    </div>
  



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

  </body>
  </html>