<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../styles/styleindex.css">

    <title>Infos sur Bad Saarow</title>

    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" type="image/x-icon">

    <!-- custom script -->
  <script type="text/javascript" src="scripts/app.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="../views/index.html">
          <img alt="Visit Bad Saarow" src="../assets/logo/visitlogo.png">
          </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li ><a  href="../views/stayFR.html">Logement</a></li>
          <li ><a  href="../views/doFR.html">Activités</a></li>
          <li ><a  href="../views/eatFR.html">Gastronomie</a></li>
          <li ><a  href="../views/aboutFR.html">Infos/Directions</a></li>
          
          <li><a href="../views/about.html"><img href="../views/index.html" src="../assets/languagebuttons/ukflag2.png"></a><li>
      </ul>
    </div>
  </div>
</nav>

    
      <img class="headerimage" src="../assets/about/aboutheader.jpg" id="aboutheader" alt="aboutheader">
      <h1 id="aboutbadsaarow">About/Directions</h1>
      
    
    
    <div class="container">
      <div class="row">
        
        <div class="col-xs-12 col-md-10">
          <a name="aboutanchor"><h1 class="anchorlink">Bad Saarow</h1></a>
          <p>Bad Saarow is a lovely small town on the Scharmützelsee about 70 kilometres from Berlin. The place is known for its hot springs and for its mineral rich mud. Their healing properties have attracted visitors for many years, and in 1923 led to the town's name acquiring the prefix "Bad".Nearby are the Dubrower Berge a range of wooded hills popular with hikers and cyclists.</p>
          
        </div>
      </div>

      <div class="row eat thumbnail">
        <div  class="col-xs-12 col-md-5">
          <img src="../assets/about/directions.png" id="therme">
          
        </div>
<! Directions>
        <div class="col-xs-12 col-md-offset-1 col-md-6">
          <h3 class="lightsteelblue">Directions</h3>
          <p>60 minutes from the Berlin main train station. With the RE1 to Fürstenberg, change to the Bäderbahn (RB35) that will take you to the picturesque Bad Saarow train station.</br> <a href="https://goo.gl/maps/r8KooD5BE4n" class="glyphicon glyphicon-globe lightsteelblue">GoogleMaps</a>
          </p>
        </div>
      </div>
<!Spa>
      <div class="row eat">
        <div class="col-xs-12 col-md-6">
          <h3 class="lightsteelblue">State Recognized Spa City</h3>
            <p> The fact that Bad Saarow has hot springs and mineral rich mud has led to recognition from the State to call the city "Bad". This has attracted many visitors to the Saarow Thermen, which is a big Spa facility with many different forms of pools, saunas, steam rooms, and more. The combination of the beautiful view on the lake, the relaxing atmosphere, and the therapeutic relaxation of the Thermen, makes Bad Saarow a perfect escape to decompress from the City life.</br> 
              <a class="lightsteelblue" href="https://therme.bad-saarow.de/">More about the Saarow Therme</a>
            </p>
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-5">
            <img src="../assets/about/thermen.jpg">
        </div>
      </div>
<! Spirituality>
      <div class="row thumbnail eat">
        <div class="col-xs-12  col-md-5">
          <img src="../assets/about/buddhist.jpg" class="buddhist">
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-6">
          <h3 class="lightsteelblue">The Spiritual Significance</h3>
          <p>There is a special center for spiritual care in Bad Saarow called the Sukhavati, it is the first of its kind in Germany. Bad Saarow and the Scharmützelsee were chosen after a long and intensive search, that took place all over the country and was conducted by Buddhist Monks. The purpose of the center is to implement mindfulness, compassion, and the teachings of the Buddhist tradition of wisdom. It is open to everyone, regardless of faith, and it appeals especially to people who are in a time of crisis and illness. It can help ill people with a place to reflect, re-orientate their thinking, and seek support in their suffering. </br>
            <a class="lightsteelblue" href="http://www.sukhavati.eu/home/"> More about the Sukhavati Centre</a>
          </p>
        </div>
      </div>
<! Lake>
      <div class="row eat">
        <div class="col-md-6">
          <h3 class="lightsteelblue">The Scharmützelsee</h3>
          <p> The Scharmützelsee is the second largest lake in Brandenburg, and is about ten kilometres long. It has been voted the "<a class="lightsteelblue" href="http://www.airlines24.com/news/deutschlands-schonster-see-scharmutzelsee-gewinnt-voting/">Most beautiful lake in Germany</a>" and also "<a class="lightsteelblue" href="http://www.tagesspiegel.de/brandenburg-ganz-oben-scharmuetzelsee-ist-lieblingssee-in-deutschland/9857486.html">Germany's favorite lake</a>". More information about the lake can be found <a class="lightsteelblue" href="https://www.seenland-oderspree.de/region/regionen-brandenburg/Rund-um-den-Scharmuetzelsee-Die-Ausflugs-Alleskoenner">here</a>.
          
          </p>
        </div>
        <div class="col-md-offset-1 col-md-5">
          <img src="../assets/about/biggestlake.jpg" class="buddhist">
        </div>
      </div>
    </div>
  



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

  </body>
  </html>