<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107052026-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', 'UA-107052026-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../styles/styleindex.css">

    <title>Infos sur Bad Saarow</title>

    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" type="image/x-icon">

    <!-- custom script -->
  <script type="text/javascript" src="scripts/app.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="../views/indexFR.html">
          <img alt="Visit Bad Saarow" src="../assets/logo/visitlogo.png">
          </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li ><a  href="../views/stayFR.html">Logement</a></li>
          <li ><a  href="../views/doFR.html">Activités</a></li>
          <li ><a  href="../views/eatFR.html">Gastronomie</a></li>
          <li ><a  href="../views/aboutFR.html">Infos/Directions</a></li>
          
          <li><a href="../views/about.html"><img href="../views/about.html" src="../assets/languagebuttons/ukflag2.png"></a><li>
      </ul>
    </div>
  </div>
</nav>

    
      <img class="headerimage" src="../assets/about/aboutheader.jpg" id="aboutheader" alt="aboutheader">
      <h1 id="aboutbadsaarow">Infos/Directions</h1>
      
    
    
    <div class="container">
      <div class="row">
        
        <div class="col-xs-12 col-md-10">
          <a name="aboutanchor"><h2 class="anchorlink">Bad Saarow</h2></a>
          <p> Bad Saarow est un sympathique village sur le Scharmützelsee, situé a 70 kilometres de Berlin. L'endroit est connu pour ses bains thermaux et pour leurs bains de boue, remplit de minéraux essentiels. Les characteristiques therapeuthique de ce village attire beaucoup de visiteurs, depuis le début du siècle. En 1923 le village a été donné le nom "Bad", parce qu'ils sont devenues certifiés par le gouvernement. A part des bains thermaux, il existe aussi des collines proche de Bad Saarow appellées les "Dubrower Berge", populaire avec les cyclistes et les gens qui apprécient la randonnée. 
        </div>
      </div>

      <div class="row eat thumbnail">
        <div  class="col-xs-12 col-md-5">
          <img src="../assets/about/directions.png" id="therme">
          
        </div>
<! Directions>
        <div class="col-xs-12 col-md-offset-1 col-md-6">
          <h3 class="lightsteelblue">Directions</h3>
          <p>A 60 minutes de Berlin depuis la gare centrale (Hauptbahnhof). Prenez le RE1 jusqu'a Fürstenberg, changez pour le Bäderbahn (RE35), qui vous amènera a la gare du beau village de Bad Saarow. </br> <a href="https://goo.gl/maps/r8KooD5BE4n" class="glyphicon glyphicon-globe lightsteelblue">GoogleMaps</a>
          </p>
        </div>
      </div>
<!Spa>
      <div class="row eat">
        <div class="col-xs-12 col-md-6">
          <h3 class="lightsteelblue">La Certification "Bad"</h3>
            <p> Les bains thermaux et les bains de boue minéraux sont certifié par l'état. Ceci attire beaucoup de touristes aux "Saarow Thermen", qui est un grand centre pour toute sortes de méthodes de détente. Il existe à l'intérieur plusieurs formes de piscines, saunas, Hammam, et encore plus. Combiné avec la belle vue du lac, un atmosphère détendu, et les characteristiques de l'eau, Bad Saarow est l'endroit parfait pour échapper le stress de la grande ville. </br> 
              <a class="lightsteelblue" href="https://therme.bad-saarow.de/">Pour en savoir plus</a>
            </p>
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-5">
            <img src="../assets/about/thermen.jpg" class="buddhist">
        </div>
      </div>
<! Spirituality>
      <div class="row thumbnail eat">
        <div class="col-xs-12  col-md-5">
          <img src="../assets/about/buddhist.jpg" class="buddhist">
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-6">
          <h3 class="lightsteelblue">La Signification Spirituelle</h3>
          <p>Il y'a un centre spirituel a Bad Saarow, qui s'appelle le Sukhavati, le premier de son genre en Allemagne. Bad Saarow et le Scharmützelsee ont été choisi après une longue recherche, par des représentants Bhuddistes. La raison d'être du centre, est d'apprendre les vertues de présence, de compassion, et les principes de la religion Bhuddiste. Ce centre est ouvert a tout le monde, peut importe leur religion, et est en particulier attirant pour les gens qui sont en periode de crise ou de maladie. Ceci peut aider les gens malades a mieux faire des reflexions, a leur donner une nouvelle perspective, et a chercher du soutien dans leur souffrance. 
           </br>
            <a class="lightsteelblue" href="http://www.sukhavati.eu/home/"> Plus d'informations sur le center Sukhavati</a>
          </p>
        </div>
      </div>
<! Lake>
      <div class="row eat">
        <div class="col-md-6">
          <h3 class="lightsteelblue">Le Scharmützelsee</h3>
          <p> Le Scharmützelsee est le deuxième plus grand lac du Brandenburg, et fait a peu près 10 km de long. Le lac a été voté "<a class="lightsteelblue" href="http://www.airlines24.com/news/deutschlands-schonster-see-scharmutzelsee-gewinnt-voting/">Plus beau lac en Allemagne</a>" et aussi "<a class="lightsteelblue" href="http://www.tagesspiegel.de/brandenburg-ganz-oben-scharmuetzelsee-ist-lieblingssee-in-deutschland/9857486.html">Lac préféré de l'Allemagne</a>". Plus d'informations sur le lac <a class="lightsteelblue" href="https://www.seenland-oderspree.de/region/regionen-brandenburg/Rund-um-den-Scharmuetzelsee-Die-Ausflugs-Alleskoenner">ici</a>.
          
          </p>
        </div>
        <div class="col-md-offset-1 col-md-5">
          <img src="../assets/about/biggestlake.jpg" class="buddhist">
        </div>
      </div>
    </div>
  



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

  </body>
  </html>