<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../styles/styleindex.css">

    <title>Activités</title>

    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" type="image/x-icon">

    <!-- custom script -->
  <script type="text/javascript" src="scripts/app.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="../views/index.html">
          <img alt="Visit Bad Saarow" src="../assets/logo/visitlogo.png">
          </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li ><a  href="../views/stayFR.html">Logement</a></li>
          <li ><a  href="../views/doFR.html">Activités</a></li>
          <li ><a  href="../views/eatFR.html">Gastronomie</a></li>
          <li ><a  href="../views/aboutFR.html">Infos/Directions</a></li>
          
          <li><a href="../views/do.html"><img href="../views/do.html" src="../assets/languagebuttons/ukflag2.png"></a><li>
      </ul>
    </div>
  </div>
</nav>

    <header>
      
        <img class="headerimage" src="../assets/do/therme5.jpg">
        <h1 class="activities">Activités</h1>
        
    </header>

<! Intro>
  <div class="container eat thumbnail">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <a name="doanchor"><h1 class="anchorlink"> Activités dans et autour de Bad Saarow</h1></a>
        </div>
      </div>
  

  
<! Thermal Bath>
      <div class="row thumbnail eat">
        <div class="col-xs-12 col-md-8 ">
          <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/yHVCeRwyfS0?rel=0" frameborder="0" allowfullscreen></iframe>   
        </div>
        <div class="col-xs-12  col-md-4">
          <h3 class="lightsteelblue">Saarow Thermen</h3>
          <h4>Am Kurpark 1, 15526 Bad Saarow <a href="https://goo.gl/maps/YjLkwDS2xEK2" class="glyphicon glyphicon-globe lightsteelblue"></a></h4>
          <p> Ceci est considéré la plus grosse attraction de ce charmant village, comme le nom "Bad" la definit. Vous pouvez essayer l'eau thérmale et le bain de boue ici. Emplacement central dans le "Kurpark", a quelques pas de la gare centrale. Plus d'informations <a class="lightsteelblue" href="https://therme.bad-saarow.de/">ici </a> </p>
        </div>
    </div>
      <div class="row thumbnail eat">
        <div class="col-xs-12 col-md-4 ">
          <img src="../assets/do/nighttherme2.jpg" class="new" >
        </div>
        
        <div class="col-xs-12 col-md-offset-3 col-md-4">
          <img src="../assets/do/sauna.jpg" class="standardpicture">
        </div>
    </div>
  </div>


<div class="container eat">
<! Water Sports>
    
      <div class="row eat">
        <div class="col-xs-12 col-md-6">
          <h3 class="lightsteelblue">Sports aquatiques</h3>
            <h4>Il existe beaucoup d'opportunités pour faire des sports aquatiques, si vous voulez louer de l'équipement, ou engager un guide pour vous amener en tour de bateau a voile.Vous pouvez aussi faire du kayak, du SUP, du pèdalo.</h4>
            <h4> Lieux de location<a class="lightsteelblue" href="http://www.yaas-segeln.de/">ici</a>. 
              </h4>
              <h4>Alternativement vous pouvez faire une session de bateau a voile avec une session "coucher de soleil", avec un guide, plus d'infos <a class="lightsteelblue" href="http://www.mitsegeln-saarow.de/mitsegeltoerns/sunset-sailing-auf-dem-scharmuetzelsee/">ici</a> </h4>
        </div>

        <div class="col-xs-12 col-md-offset-1 col-md-5">
          <img src="../assets/do/sunsetsailing.jpg" class="standardpicture">
        </div>
      </div>

      
        <div class="col-xs-12 col-md-6">
          <img src="../assets/do/segeln.jpg" class="standardpicture">
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-5">
          <img src="../assets/do/tretboot.jpg" class="standardpicture">
        </div>
      </div>
</div>

<div class="container eat">
<! Biking>
      <div class="row thumbnail eat">
        <div class="col-xs-12 col-md-5">
          
          <img src="../assets/do/raeder2.jpg" class="standardpicture">
          
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-6">
          <h3 class="lightsteelblue">Vélo</h3> 
              <p>Le Scharmützelsee est un emplacement parfait pour faire du vélo, avec beaucoup de fôrets et de passages au bord du lac, il existe beaucoup d'endroits a éxplorer. Les <a class="lightsteelblue" href="https://en.wikipedia.org/wiki/Dubrower_Berge">Dubrower Berge</a> sont très proches et très aimé par les cyclistes et les amateurs de la randonnée. Ci-dessous est l'endroit principal pour louer des vélos, et nous conseillons de lour des "Mountain bike", parce que les collines dans la fôrets sont très divèrtissant: 
              </p>
              <h4><a class="lightsteelblue" href="http://home-of-bikes.de/">Home of Bikes</a> </br>Golmer Strasse 6B, 15526 Bad Saarow <a href="https://goo.gl/maps/wjjUkkxbYRs" class="glyphicon glyphicon-globe lightsteelblue"></a></h4>
        </div>
      </div>
</div>
<! Hiking>
<div class="container eat">
      <div class="row eat">
        <div class="col-xs-12  col-md-6">
          <h3 class="lightsteelblue">Randonnée</h3>
          <p>Il existe beaucoup de passages, et beaucoup de petits trésors a découvrir au bord du lac. Le passage de Bad Saarow a Wendisch est très conseillé. Depuis Wendisch Rietz, vous pouvez prendre le train jusqu'a Bad Saarow, après une bonne marche de 13 kilomètres et un bon repas a Wendisch Rietz.</p>
          <img class="new2" src="../assets/do/marina.jpg">
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-5">
          <img src="../assets/do/entlang.png" class="new2">
        </div>
      </div>
  </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

  </body>