<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../styles/styleindex.css">

    <title>Activités</title>

    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" type="image/x-icon">

    <!-- custom script -->
  <script type="text/javascript" src="scripts/app.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="../views/index.html">
          <img alt="Visit Bad Saarow" src="../assets/logo/visitlogo.png">
          </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li ><a  href="../views/stayFR.html">Logement</a></li>
          <li ><a  href="../views/doFR.html">Activités</a></li>
          <li ><a  href="../views/eatFR.html">Gastronomie</a></li>
          <li ><a  href="../views/aboutFR.html">Infos/Directions</a></li>
          
          <li><a href="../views/do.html"><img href="../views/index.html" src="../assets/languagebuttons/ukflag2.png"></a><li>
      </ul>
    </div>
  </div>
</nav>

    <header>
      
        <img class="headerimage" src="../assets/do/therme5.jpg">
        <h1 class="activities">Activities</h1>
        
    </header>

<! Intro>
  <div class="container eat thumbnail">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <a name="doanchor"><h1 class="anchorlink"> Activities in and around Bad Saarow</h1></a>
        </div>
      </div>
  

  
<! Thermal Bath>
      <div class="row thumbnail eat">
        <div class="col-xs-12 col-md-8 ">
          <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/yHVCeRwyfS0?rel=0" frameborder="0" allowfullscreen></iframe>   
        </div>
        <div class="col-xs-12  col-md-4">
          <h3 class="lightsteelblue">Saarow Thermen</h3>
          <h4>Am Kurpark 1, 15526 Bad Saarow <a href="https://goo.gl/maps/YjLkwDS2xEK2" class="glyphicon glyphicon-globe lightsteelblue"></a></h4>
          <p>This is considered the main attraction of this charming town, as the name of the town is "Bad", signifying that the water of the local hot springs carries special therapeutic properties. In the case of Bad Saarow, also the mud has special mineral properties. Centrally located, in a big park called "Kurpark", and steps from the train station. More information <a class="lightsteelblue" href="https://therme.bad-saarow.de/">here. </a> </p>
        </div>
    </div>
      <div class="row thumbnail eat">
        <div class="col-xs-12 col-md-4 ">
          <img src="../assets/do/nighttherme2.jpg" class="new" >
        </div>
        
        <div class="col-xs-12 col-md-offset-3 col-md-4">
          <img src="../assets/do/sauna.jpg" class="standardpicture">
        </div>
    </div>
  </div>


<div class="container eat">
<! Water Sports>
    
      <div class="row eat">
        <div class="col-xs-12 col-md-6">
          <h3 class="lightsteelblue">Water Sports</h3>
            <h4>There are plenty of opportunities to do water sports at the Scharmützelsee, whether you want to rent equipment or hire a guide to take you sailing, besides sailing you can do kayaking, pedalboating and Stand Up Paddleboarding(SUP)</h4>
            <h4> You can rent equipment for all of these <a class="lightsteelblue" href="http://www.yaas-segeln.de/">here</a>. 
              </h4>
              <h4>Alternatively you can do a sunset sailing session with a guide, more info <a class="lightsteelblue" href="http://www.mitsegeln-saarow.de/mitsegeltoerns/sunset-sailing-auf-dem-scharmuetzelsee/">here</a> </h4>
        </div>

        <div class="col-xs-12 col-md-offset-1 col-md-5">
          <img src="../assets/do/sunsetsailing.jpg" class="standardpicture">
        </div>
      </div>

      
        <div class="col-xs-12 col-md-6">
          <img src="../assets/do/segeln.jpg" class="standardpicture">
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-5">
          <img src="../assets/do/tretboot.jpg" class="standardpicture">
        </div>
      </div>
</div>

<div class="container eat">
<! Biking>
      <div class="row thumbnail eat">
        <div class="col-xs-12 col-md-5">
          
          <img src="../assets/do/raeder2.jpg" class="standardpicture">
          
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-6">
          <h3 class="lightsteelblue">Biking</h3> 
              <p>The Scharmützelsee is a perfect place to ride a bicycle. So many forests and lakeside treasures to be explored. The <a class="lightsteelblue" href="https://en.wikipedia.org/wiki/Dubrower_Berge">Dubrower Berge</a> are nearby and wildly popular with hikers and cyclists. Below is the main place to rent bicycles, and we recommend renting mountain bikes, as the hills in the forest are quite fun: 
              </p>
              <h4><a class="lightsteelblue" href="http://home-of-bikes.de/">Home of Bikes</a> </br>Golmer Strasse 6B, 15526 Bad Saarow <a href="https://goo.gl/maps/wjjUkkxbYRs" class="glyphicon glyphicon-globe lightsteelblue"></a></h4>
        </div>
      </div>
</div>
<! Hiking>
<div class="container eat">
      <div class="row eat">
        <div class="col-xs-12  col-md-6">
          <h3 class="lightsteelblue">Hiking</h3>
          <p>There are some fantastic lakeside trails and many small locations to experience along the lake. Taking the route from Bad Saarow to Wendisch Rietz comes highly recommended. From there you can take the train back to Bad Saarow, after 13 kilometers walking and a nice meal in Wendisch Rietz. </p>
          <img class="new2" src="../assets/do/marina.jpg">
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-5">
          <img src="../assets/do/entlang.png" class="new2">
        </div>
      </div>
  </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

  </body>