<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">

    <link type="text/css" rel="stylesheet" href="../styles/styleindex.css">

    <title>Gastronomy</title>

    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" type="image/x-icon">

    <script type="text/javascript" src="scripts/app.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="../views/index.html">
          <img alt="Visit Bad Saarow" src="../assets/logo/visitlogo.png">
          </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li ><a  href="../views/stay.html">Stay</a></li>
          <li ><a  href="../views/do.html">Activities</a></li>
          <li ><a  href="../views/eat.html">Gastronomy</a></li>
          <li ><a  href="../views/about.html">About/Directions</a></li>
          <li><a href="../views/indexFR.html"> <img src="../assets/languagebuttons/frenchflag2.png"></a><li>
          <li><a href="../views/index.html"><img href="../views/index.html" src="../assets/languagebuttons/ukflag2.png"></a><li>
      </ul>
    </div>
  </div>
</nav>

<! Header Image>
    <div class="image">
      <img src="../assets/eat/restaurant.jpg" alt="aboutheader">
      <h1 id="restaurant">Gastronomy</h1>
      <a href="#eatanchor">
      <span class="blackdownbutton glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </a>
    </div>

<! Intro>
  <div class="container">
      <div class="row eat">
        <div class="col-xs-12 col-md-12">
          <a name="eatanchor"><h2 class="anchorlink"> Gastronomy in Bad Saarow</h2></a>
          <p>With a countrywide reputation for its therapeutic thermal springs and its spiritual significance, Bad Saarow has quite an array of good dining opportunities that go from mid-range to high-end dining. Here is a guide of our favourite places to dine or have a drink in a relaxing setting: </p>
        </div>
      </div>

<! Park Café>
      <div class="row thumbnail eat">
        <div class="col-xs-12 col-md-6">
          <h3 class="eattitle">Park Café/Theather am See</h3>
            <h4>Seestraße 22, 15526 Bad Saarow <a href="https://goo.gl/maps/d8rcdy7gm4z" class="glyphicon glyphicon-globe location"></a></h4>
            <h4> Price: €€ - €€€ </br></br> Rating on Trip Advisor: 4,5/5 </br></br> Rating on Google: 4,1/5</h4>

              <p>With a fabulous view on the lake and a casual cozy atmosphere, the Park Café is a perfect place to enjoy the wonders of Bad Saarow at its fullest potential. With a menu that rotates seasonally, one can find dishes that please any taste. The service is friendly, the quality is good, and the dishes are artistic, enjoy! Check them out <a class="location" href="http://www.theater-am-see.de/">here</a>. 
              </p>
        </div>

        <div class="col-xs-12 col-md-offset-1 col-md-5">
          <img src="../assets/eat/parkcafe.jpg" class="standardpicture">
        </div>
      </div>

<! Villa Contessa>
      <div class="row eat">
        <div class="col-xs-12 col-md-5">
          
          <img src="../assets/eat/villacontessa.jpg" class="standardpicture">
          
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-6">
          <h3 class="eattitle">Villa Contessa Restaurant</h3> 
          <h4><span id="underconstruction">(Currently closed, opens end 2017)</span></h4>
            <h4>Silberberger Str. 2, 15526 Bad Saarow <a href="https://goo.gl/maps/8Er7Y57VHZJ2" class="glyphicon glyphicon-globe location"></a></h4>
            <h4> Price: €€€ </br></br> Rating on Trip Advisor: 4,5/5 </br></br> Rating on Google: 5/5</h4>
            
              <p>This extravagant hotel is the fine dining destination of Bad Saarow, perfect for a romantic dinner, or important celebrations. They offer a small menu, but excellent quality. Situated right on the lake, it stands out with its mix of Victorian and German architecture. Check them out <a class="location" href="https://villa-contessa.de/restaurant/restaurant-bad-saarow">here</a>. 
              </p>
        </div>
      </div>

<! Restaurant Seestern>
      <div class="row thumbnail eat">
        <div class="col-xs-12  col-md-6">
          <h3 class="eattitle">Restaurant Seestern</h3>
          <h4>Seestraße 18, 15526 Bad Saarow <a href="https://goo.gl/maps/vriMteARPq92" class="glyphicon glyphicon-globe location"></a></h4>
          <h4> Price: €€ - €€€ </br></br> Rating on Trip Advisor: 4/5 </br></br> Rating on Google: 4,5/5</h4>
          </br>
          <p>This is a local hang-out that delivers good reliable quality, service, and prices! From Schnitzel to fish dishes, soup, and typical German dishes. Check them out <a class="location" href="https://www.seestern-bad-saarow.de/">here</a>.</br>    
          </p>
          
          
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-5">
          <img src="../assets/eat/seestern3.png" class="standardpicture">
        </div>
      </div>

<! Café Dorsch>
      <div class="row eat">
        <div class="col-xs-12 col-md-5 ">
          <img src="../assets/eat/cafedorsch.jpg" class="standardpicture">
          
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-6">
          <h3 class="eattitle">Café Dorsch</h3>
          <h4>Humboldtstraße 16, 15526 Bad Saarow <a href="https://goo.gl/maps/LYyGM1P6kjC2" class="glyphicon glyphicon-globe location"></a></h4>
          <h4> Price: €€ - €€€ </br></br> Rating on Trip Advisor: 4/5 </br></br> Rating on Google: 4,4/5</h4>
         <p> True "Café style" food, delivering classic dishes with a fancy twist, in totally adorable surroundings. Steps from the lake, and full of surprises! Check them out <a class="location" href="https://www.cafe-dorsch.de/">here</a>. 
          </p>
          
        </div>
      </div>

<! Die Bühne>
      <div class="row thumbnail eat">
        <div class="col-xs-12  col-md-6">
          <h3 class="eattitle">Die Bühne</h3>
          <h4>Bahnhofspl. 3, 15526 Bad Saarow <a href="https://goo.gl/maps/LHPgih9ymRU2" class="glyphicon glyphicon-globe location"></a></h4>
          <h4> Price: €€ - €€€ </br></br> Rating on Trip Advisor: 4/5 </br></br> Rating on Google: 4/5</h4>
          <p>This is the classic Bavarian style restaurant that will give you big dishes full of sauerkraut, sausages, potatoes, pork chops, and a big stein of beer to go with it. If you're very hungry and ready for some heavy set foods, this is the place to be. Very close to the train station. Check them out <a class="location" href="http://www.bahnhofshotel-diebuehne.de/cafe-und-restaurant/">here</a>. 
          </p>
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-5">
          <img src="../assets/eat/diebuhne.jpg" class="standardpicture">
          
        </div>
        
      </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>

  </body>