<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">

    <link type="text/css" rel="stylesheet" href="../styles/styleindex.css">

    <title>Gastronomie</title>

    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" type="image/x-icon">

    <script type="text/javascript" src="scripts/app.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="../views/index.html">
          <img alt="Visit Bad Saarow" src="../assets/logo/visitlogo.png">
          </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li ><a  href="../views/stayFR.html">Logement</a></li>
          <li ><a  href="../views/doFR.html">Activités</a></li>
          <li ><a  href="../views/eatFR.html">Gastronomie</a></li>
          <li ><a  href="../views/aboutFR.html">Infos/Directions</a></li>
          
          <li><a href="../views/eat.html"><img href="../views/index.html" src="../assets/languagebuttons/ukflag2.png"></a><li>
      </ul>
    </div>
  </div>
</nav>

<! Header Image>
    
      <img class="headerimage" src="../assets/eat/restaurant.jpg" alt="aboutheader">
      <h1 id="gastronomytitle">Gastronomie</h1>
      
    

<! Intro>
  <div class="container">
      <div class="row eat">
        <div class="col-xs-12 col-md-12">
          <a name="eatanchor"><h2 class="anchorlink"> La gastronomie à Bad Saarow</h2></a>
          <p>Avec la réputation de Bad Saarow, connue pour les bains thermaux therapeutiques et sa signification spirituelle, la ville ne manque pas d'occasion pour se faire plaisir en gastronomie. Voici un guide de nos endroits préferés pour savourer une boisson ou déguster dans un environnement qui détend. </p>
        </div>
      </div>

<! Park Café>
      <div class="row thumbnail eat">
        <div class="col-xs-12 col-md-6">
          <h3 class="lightsteelblue">Park Café/Theather am See</h3>
            <h4>Seestraße 22, 15526 Bad Saarow <a href="https://goo.gl/maps/d8rcdy7gm4z" class="glyphicon glyphicon-globe lightsteelblue"></a></h4>
            <h4> Prix: €€ - €€€ </br></br> Évaluation sur Trip Advisor: 4,5/5 </br></br> Évaluation sur Google: 4,1/5</h4>

              <p>Avec une fabuleuse vue sur le lac, et un environnement confortable, le Park Café est l'endroit parfait pour vivre les merveilles de Bad Saarow a son plein potentiel. Avec un menu qui fait la rotation saisonière, on peut trouver des plats qui plaisent a tout le monde. Le service est amical, la qualité est bonne, et les plats sont artistiques. Voyez <a class="lightsteelblue" href="http://www.theater-am-see.de/">ici</a> pour plus d'infos
              </p>
        </div>

        <div class="col-xs-12 col-md-offset-1 col-md-5">
          <img src="../assets/eat/parkcafe.jpg" class="standardpicture">
        </div>
      </div>
<! AS am See>
      <div class="row eat">
        <div class="col-xs-12 col-md-5 ">
          <img src="../assets/eat/asamsee.jpg" class="standardpicture">
          
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-6">
          <h3 class="lightsteelblue">AS am See</h3>
          <h4>Seestraße 9, 15526 Bad Saarow <a href="https://goo.gl/maps/sbv8AieaLLT2" class="glyphicon glyphicon-globe lightsteelblue"></a></h4>
          <h4> Prix: €€€€ </br></br> Évaluation sur Tripadvisor: 4,5/5</br> Évaluation sur Facebook: 4,8/5 </br> Évaluation sur Google: 3,4/5</h4>
         <p> Pour plus d'infos voir <a class="lightsteelblue" href="http://www.asamsee.de/">ici</a>. 
          </p>
          
        </div>
      </div>


<! Restaurant Seestern>
      <div class="row thumbnail eat">
        <div class="col-xs-12  col-md-6">
          <h3 class="lightsteelblue">Restaurant Seestern</h3>
          <h4>Seestraße 18, 15526 Bad Saarow <a href="https://goo.gl/maps/vriMteARPq92" class="glyphicon glyphicon-globe lightsteelblue"></a></h4>
          <h4> Price: €€ - €€€ </br></br> Rating on Trip Advisor: 4/5 </br></br> Rating on Google: 4,5/5</h4>
          </br>
          <p>This is a local hang-out that delivers good reliable quality, service, and prices! From Schnitzel to fish dishes, soup, and typical German dishes. Check them out <a class="lightsteelblue" href="https://www.seestern-bad-saarow.de/">here</a>.</br>    
          </p>
          
          
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-5">
          <img src="../assets/eat/seestern3.png" class="standardpicture">
        </div>
      </div>

<! Café Dorsch>
      <div class="row eat">
        <div class="col-xs-12 col-md-5 ">
          <img src="../assets/eat/cafedorsch.jpg" class="standardpicture">
          
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-6">
          <h3 class="lightsteelblue">Café Dorsch</h3>
          <h4>Humboldtstraße 16, 15526 Bad Saarow <a href="https://goo.gl/maps/LYyGM1P6kjC2" class="glyphicon glyphicon-globe lightsteelblue"></a></h4>
          <h4> Price: €€ - €€€ </br></br> Rating on Trip Advisor: 4/5 </br></br> Rating on Google: 4,4/5</h4>
         <p> True "Café style" food, delivering classic dishes with a fancy twist, in totally adorable surroundings. Steps from the lake, and full of surprises! Check them out <a class="lightsteelblue" href="https://www.cafe-dorsch.de/">here</a>. 
          </p>
          
        </div>
      </div>

<! Die Bühne>
      <div class="row thumbnail eat">
        <div class="col-xs-12  col-md-6">
          <h3 class="lightsteelblue">Die Bühne</h3>
          <h4>Bahnhofspl. 3, 15526 Bad Saarow <a href="https://goo.gl/maps/LHPgih9ymRU2" class="glyphicon glyphicon-globe lightsteelblue"></a></h4>
          <h4> Price: €€ - €€€ </br></br> Rating on Trip Advisor: 4/5 </br></br> Rating on Google: 4/5</h4>
          <p>This is the classic Bavarian style restaurant that will give you big dishes full of sauerkraut, sausages, potatoes, pork chops, and a big stein of beer to go with it. If you're very hungry and ready for some heavy set foods, this is the place to be. Very close to the train station. Check them out <a class="lightsteelblue" href="http://www.bahnhofshotel-diebuehne.de/cafe-und-restaurant/">here</a>. 
          </p>
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-5">
          <img src="../assets/eat/diebuhne.jpg" class="standardpicture">
          
        </div>
        
      </div>
      <! Villa Contessa>
      <div class="row eat">
        <div class="col-xs-12 col-md-5">
          
          <img src="../assets/eat/villacontessa.jpg" class="standardpicture">
          
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-6">
          <h3 class="lightsteelblue">Villa Contessa Restaurant</h3> 
          <h4><span id="underconstruction">(Currently closed, opens end 2017)</span></h4>
            <h4>Silberberger Str. 2, 15526 Bad Saarow <a href="https://goo.gl/maps/8Er7Y57VHZJ2" class="glyphicon glyphicon-globe lightsteelblue"></a></h4>
            <h4> Price: €€€ </br></br> Rating on Trip Advisor: 4,5/5 </br></br> Rating on Google: 5/5</h4>
            
              <p>This extravagant hotel is the fine dining destination of Bad Saarow, perfect for a romantic dinner, or important celebrations. They offer a small menu, but excellent quality. Situated right on the lake, it stands out with its mix of Victorian and German architecture. Check them out <a class="lightsteelblue" href="https://villa-contessa.de/restaurant/restaurant-bad-saarow">here</a>. 
              </p>
        </div>
      </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>

  </body>