<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107052026-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', 'UA-107052026-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../styles/styleindex.css">



    <title>Visitez Bad Saarow</title>

    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" type="image/x-icon">

    <!-- custom script -->
  <script type="text/javascript" src="scripts/app.js"></script>
  </head>

  <body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="../views/indexFR.html">
          <img alt="Visit Bad Saarow" src="../assets/logo/visitlogo.png">
          </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right navfont">
          <li ><a  href="../views/stayFR.html">Logement</a></li>
          <li ><a  href="../views/doFR.html">Activités</a></li>
          <li ><a  href="../views/eatFR.html">Gastronomie</a></li>
          <li ><a  href="../views/aboutFR.html">Infos/Directions</a></li>
          
          <li><a href="../index.html"><img href="../index.html" src="../assets/languagebuttons/ukflag2.png"></a><li>
      </ul>
    </div>
  </div>
</nav>



  
    <! Header Image>

        <header>
          <img class="headerimage" alt="Bad Saarow at night" src="../assets/index/nightskyheader.jpg" alt="aboutheader">

          <div class="indextag">
            <img alt="Visit Bad Saarow" src="../assets/logo/visitlogo.png">
          <h1>Bienvenue à Bad Saarow</h1>
          <h2>La porte du Scharmützelsee</h2>
        </header>
        
    
          
    <div class="container padding-top">
     <div class="row"> 
        <div class="col-xs-6 col-md-3">
          <div class="indexgallery1">
          <a href="../views/stayFR.html"><img class="allindexgallery" src="../assets/index/wasserturmview.jpg"></a>
          <h2 class="indexgallerytext">Logement</h2>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="indexgallery1">
            <a href="../views/doFR.html">
              <img class="allindexgallery" src="../assets/index/pier.jpg">
            </a>
          <h2 class="indexgallerytext">Activités</h2>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="indexgallery2">
            <a href="../views/eatFR.html">
              <img class="allindexgallery"  src="../assets/index/laketerrace.jpg">
            </a>
          <h2 class="indexgallerytext">Gastronomie</h2>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="indexgallery2">
            <a href="../views/aboutFR.html">
              <img class="allindexgallery"  src="../assets/index/badsaarowbahnhof.jpg">
            </a>
          <h2 class="indexgallerytext">Infos sur</br> Bad Saarow</h2>
          </div>
        </div>
      </div>
  </div>
 
    

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>