<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../styles/styleindex.css">

    <title>Stay</title>

    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" type="image/x-icon">

    <!-- custom script -->
  <script type="text/javascript" src="scripts/app.js"></script>
  </head>

  <body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="../views/index.html">
          <img alt="Visit Bad Saarow" src="../assets/logo/visitlogo.png">
          </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li ><a  href="../views/stay.html">Stay</a></li>
          <li ><a  href="../views/do.html">Activities</a></li>
          <li ><a  href="../views/eat.html">Gastronomy</a></li>
          <li ><a  href="../views/about.html">About/Directions</a></li>
          <li><a href="../views/indexFR.html"> <img src="../assets/languagebuttons/frenchflag2.png"></a><li>
          <li><a href="../views/index.html"><img href="../views/index.html" src="../assets/languagebuttons/ukflag2.png"></a><li>
      </ul>
    </div>
  </div>
</nav>

    <div class="image">
      <img src="../assets/ferienhaus.png" alt="stayheader" id="stayheader">
      <h1 class="stayheadertitle">Stay</h1>
        <a href="#stayanchor">
        
        <span class="whitearrowdown glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </a>
    </div>

  <div class="container thumbnail"> 
    
    <!Carousel for Wasserwerk> 
    <div class="row padding-top">
      <div  class="col-xs-12 col-md-6">
        <img class="staypics" src="../assets/wasserwerk.jpg" alt="...">
      </div>

      <div class="col-md-6">
        <img name="stayanchor" src="../assets/logo_wasserwerk.png">
        
        <h3>A lakeside hideaway, perfectly located for your convenience</h3>
        <p class="margin-top">The Wasserwerk is a luxurious lakeside hideaway experience, people with sharpened senses will notice all the intricacies in the design of these spaces. It is a renovated hydro power-plant, and all spaces have been transformed into spacious lofts or apartments. The residence also has a renovated water-tower in the court that guests can stay in. The complex has two lofts, two apartments, a tower suite, and the water tower. It is big enough for hosting events, like an evening talk by the fireplace, a birthday, corporate team-building events, and much more. There is free parking, free high speed Wi-Fi, and a friendly staff to get you what you need. For bookings and more information, <a class="lightsteelblue" href="http://www.wasserwerk-badsaarow.de/">click here</a></p> 
      </div>
    </div>
      <div class="row padding-top">
      <div class="col-md-6">
        <img class="staypics" src="../assets/breakfast.jpg">
      </div>
      <div class="col-md-6">
        <img class="staypics" src="../assets/terrace.jpg">
      </div>
    </div>
    

    <div class="row padding-top">
      <div class="col-md-9">
          <img id="map" src="../assets/map.png">
          <p></p>
      </div>
      <div class="col-md-3">
        <h3>The Wasserwerk is in walking distance of many great restaurants, the Saarow Therme (Thermal Hot Springs), the train station, the Edeka grocery store, the beach, the "kletterwald" climbing adventure forest, and the bicycle rental. </h3>
      </div>
    </div>

    <div class="row padding-top">
      <div class="col-md-6">
        <img class="staypics" src="../assets/bett.jpg">
      </div>
      <div class="col-md-6">
        <img class="staypics" src="../assets/wasserturmtopfloor2.jpg">
      </div>
    </div>

    
  </div>

  <!scripts for jquery and bootstrap>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

  </body>