<!DOCTYPE html>
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107052026-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', 'UA-107052026-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name"description" content="Une suggestion pour un logement qui est bien placé pour prendre avantage de tous les bon cotés de ce village." />

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../styles/styleindex.css">

    <title>Logement</title>

    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" type="image/x-icon">

    <!-- custom script -->
  <script type="text/javascript" src="scripts/app.js"></script>
  </head>

  <body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="../views/indexFR.html">
          <img alt="Visit Bad Saarow" src="../assets/logo/visitlogo.png">
          </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right navfont">
          <li ><a  href="../views/stayFR.html">Logement</a></li>
          <li ><a  href="../views/doFR.html">Activités</a></li>
          <li ><a  href="../views/eatFR.html">Gastronomie</a></li>
          <li ><a  href="../views/aboutFR.html">Infos/Directions</a></li>
          
          <li><a href="../views/stay.html"><img href="../views/stay.html" src="../assets/languagebuttons/ukflag2.png"></a><li>
      </ul>
    </div>
  </div>
</nav>


   
      <img class="headerimage" src="../assets/stay/ferienhaus.jpg" alt="stayheader" id="stayheader">
      <h1 class="stayheadertitle">Logement</h1>
        
    

  <div class="container thumbnail"> 
    
    
    <div class="row padding-top">
      <div  class="col-xs-12 col-md-6">
        <a href="http://www.wasserwerk-badsaarow.de/"><img class="staypics" src="../assets/stay/wasserwerk.jpg" alt="..."></a>
      </div>

      <div class="col-md-6">
        <a href="http://www.wasserwerk-badsaarow.de/"><img name="stayanchor" src="../assets/stay/logo_wasserwerk.png"></a>
        
        <h3>Une cachette au bord du lac, avec un emplacement très convenient</h3>
        <p class="margin-top">Le Wasserwerk est une éxperience de cachette luxurieuse, et les gens avec des gouts fins, se feront plaisir en particulier. C'est un centre d'éléctricité 

         It is a renovated hydro power-plant, and all spaces have been transformed into spacious lofts or apartments. The residence also has a renovated water-tower in the court that guests can stay in. The complex has two lofts, two apartments, a tower suite, and the water tower. It is big enough for hosting events, like an evening talk by the fireplace, a birthday, corporate team-building events, and much more. There is free parking, free high speed Wi-Fi, and a friendly staff to get you what you need. For bookings and more information, <a class="lightsteelblue" href="http://www.wasserwerk-badsaarow.de/">click here</a></p> 
      </div>
    </div>
      <div class="row padding-top">
      <div class="col-md-6">
        <a href="http://www.wasserwerk-badsaarow.de/apartements/e-werk-loft"><img class="staypics" src="../assets/stay/breakfast.jpg"></a>
      </div>
      <div class="col-md-6">
        <a href="http://www.wasserwerk-badsaarow.de/apartements/maschinen-loft"><img class="staypics" src="../assets/stay/terrace.jpg"></a>
      </div>
    </div>
    

    <div class="row padding-top">
      <div class="col-md-9">
          <img id="map" src="../assets/stay/map.png">
          <p></p>
      </div>
      <div class="col-md-3">
        <h3>Le Wasserwerk est à l'intèrieur du Kurpark, a quelques pas de nombreux bons restaurants, les bain thermaux, la gare, le magasin Edeka, la plage, la fôret aventure, et des locations de bicyclette.</h3>
      </div>
    </div>

    <div class="row padding-top">
      <div class="col-md-6">
        <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/n_FpP5uVf9Y?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <a href="http://www.wasserwerk-badsaarow.de/apartements/kompressor-turm"><img class="staypics" src="../assets/stay/kompressorturm.jpg"></a>
      </div>
    </div>

    <div class="row padding-top">
      <div class="col-md-6">
        <a href="http://www.wasserwerk-badsaarow.de/apartements/kompressor-turm"><img class="staypics" src="../assets/stay/bett.jpg"></a>
      </div>
      <div class="col-md-6">
        <a href="http://www.wasserwerk-badsaarow.de/apartements/wasserturm"><img class="staypics" src="../assets/stay/wasserturmview2.jpg"></a>
      </div>
    </div>

    
  </div>

  <!scripts for jquery and bootstrap>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

  </body>