<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../styles/styleindex.css">

    <title>Stay</title>

    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" type="image/x-icon">

    <!-- custom script -->
  <script type="text/javascript" src="scripts/app.js"></script>
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../views/index.html">
          <img alt="Visit Bad Saarow" src="../assets/logo/visitlogo.png">
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right" id="navfont">
          <li ><a  href="#">Stay</a></li>
          <li ><a  href="#">Activities</a></li>
          <li ><a  href="#">Gastronomy</a></li>
          <li ><a  href="../views/about.html">About Bad Saarow</a></li>
          <li><a href="../views/indexFR.html"> <img src="../assets/frenchflag2.png"></a><li>
          <li><a href="../views/index.html"><img href="../views/index.html" src="../assets/ukflag2.png"></a><li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="" alt="">
        </div>
        <div class="col-md-6">
          <h2></h2>
          <p></p>
        </div>
      </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

  </body>