<!DOCTYPE html>
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107052026-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', 'UA-107052026-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name"description" content="Here is a recommendation for where to stay in Bad Saarow, that is centrally located, convenient, and an experience apart from any other in Germany." />

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../styles/styleindex.css">

    <title>Stay</title>

    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" type="image/x-icon">

    <!-- custom script -->
  <script type="text/javascript" src="scripts/app.js"></script>
  </head>

  <body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="../index.html">
          <img alt="Visit Bad Saarow" src="../assets/logo/visitlogo.png">
          </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li ><a  href="../views/stay.html">Stay</a></li>
          <li ><a  href="../views/do.html">Activities</a></li>
          <li ><a  href="../views/eat.html">Gastronomy</a></li>
          <li ><a  href="../views/about.html">About/Directions</a></li>
          <li><a href="../views/stayFR.html"> <img src="../assets/languagebuttons/frenchflag2.png"></a><li>
          
      </ul>
    </div>
  </div>
</nav>

   
      <img class="headerimage" src="../assets/stay/ferienhaus.jpg" alt="stayheader" id="stayheader">
      <h1 class="stayheadertitle">Stay</h1>
        
    

  <div class="container thumbnail"> 
    
    
    <div class="row padding-top">
      <div  class="col-xs-12 col-md-6">
        <a href="http://www.wasserwerk-badsaarow.de/"><img class="staypics" src="../assets/stay/wasserwerk.jpg" alt="..."></a>
      </div>

      <div class="col-md-6">
        <a href="http://www.wasserwerk-badsaarow.de/"><img name="stayanchor" src="../assets/stay/logo_wasserwerk.png"></a>
        
        <h3>A lakeside hideaway, perfectly located for your convenience</h3>
        <p class="margin-top">The Wasserwerk is a luxurious lakeside hideaway experience, people with sharpened senses will notice all the intricacies in the design of these spaces. It is a renovated hydro power-plant, and all spaces have been transformed into spacious lofts or apartments. The residence also has a renovated water-tower in the court that guests can stay in. The complex has two lofts, two apartments, a tower suite, and the water tower. It is big enough for hosting events, like an evening talk by the fireplace, a birthday, corporate team-building events, and much more. There is free parking, free high speed Wi-Fi, and a friendly staff to get you what you need. For bookings and more information, <a class="lightsteelblue" href="http://www.wasserwerk-badsaarow.de/">click here</a></p> 
      </div>
    </div>
      <div class="row ">
      <div class="col-md-6">
        <a href="http://www.wasserwerk-badsaarow.de/apartements/e-werk-loft"><img class="staypics padding-top" src="../assets/stay/breakfast.jpg"></a>
      </div>
      <div class="col-md-6">
        <a href="http://www.wasserwerk-badsaarow.de/apartements/maschinen-loft"><img class="staypics padding-top" src="../assets/stay/terrace.jpg"></a>
      </div>
    </div>
    

    <div class="row">
      <div class="col-md-9">
          <img class="padding-top" id="map" src="../assets/stay/map.png">
          <p></p>
      </div>
      <div class="col-md-3">
        <h3 class="padding-top">The Wasserwerk is inside the Kurpark, walking distance from many great restaurants, the Saarow Therme, the train station, the Edeka grocery store, the beach, the "Kletterwald" climbing forest, and bicycle rentals. </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <iframe class="youtube padding-top" width="560" height="315" src="https://www.youtube.com/embed/n_FpP5uVf9Y?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <a href="http://www.wasserwerk-badsaarow.de/apartements/kompressor-turm"><img class="staypics padding-top" src="../assets/stay/kompressorturm.jpg"></a>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <a href="http://www.wasserwerk-badsaarow.de/apartements/kompressor-turm"><img class="staypics padding-top" src="../assets/stay/bett.jpg"></a>
      </div>
      <div class="col-md-6">
        <a href="http://www.wasserwerk-badsaarow.de/apartements/wasserturm"><img class="staypics padding-top" src="../assets/stay/wasserturmview2.jpg"></a>
      </div>
    </div>

    
  </div>

  <!scripts for jquery and bootstrap>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

  </body>