

.navbar-right {
  font-size: 16px;
}

.navbar {
  background-color:#2c3e50;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}
.explore {
  position: absolute; 
    top: 600px; 
    left: 632px;
  color:white;
}
.image { 
   position: relative; 
   max-width: 100%;
   max-height:640px;
   
}
.image2 { 
   position: relative; 
   width: 100%;
   z-index:0;
   opacity:0.8;
   
   width:100%;
}

.image3 {
  height:100%;

}

.image2:hover {
  opacity:1; 
}

.landing2 {
    position: absolute; 
    top: 5px; 
    left: 5px; 
    color:white;
    text-shadow:2px 2px #000000;
    
}
.landing3 {
    position: absolute; 
    top: 5px; 
    left: 5px; 
    color:white;
    text-shadow:2px 2px #000000;

}

.blackdownbutton {
    position: absolute; 
    top: 600px; 
    left: 640px; 
    color:black;
}
.whitedownbutton {
    position: absolute; 
    top: 600px; 
    left: 640px; 
    color: white;
}

.top-buffer { 
    margin-top:20px; 
}

.glyphicon.glyphicon-chevron-down {
    font-size:40px;
}

.anchorlink {
    color:lightsteelblue;
}

.about {
    border-width:2px;
}

.title {
    color:lightsteelblue;
    font-size:75px;
}
.stayheadertitle {
    color:white;
    position: absolute; 
    top: 170px; 
   left: 65px; 
   width: 100%; 
}
.eattitle {
    color:lightsteelblue;
}

.activities {
    position: absolute; 
    top: 500px; 
   left: 180px; 
   width: 100%; 
   color:black;
}

.standardpicture {
    max-width:400px;
    max-height:300px;
}

.eat {
    padding:40px;
}

.location {
    color:lightsteelblue;
}

#navfont a {
    color: white;
    text-shadow: 2px 2px #000000;
    font-size: 16px;
}

#navfont a:hover {
    color: lightsteelblue;
    text-shadow: 0px 0px #000000;
}

#aboutbadsaarow {
    position: absolute; 
    top: 5px; 
   left: 20px; 
   width: 100%; 
   color: white;
   text-shadow: 2px 2px #000000;


}

#restaurant {
    position: absolute; 
    top: 200px; 
   left: 80px; 
   width: 100%; 
   color:black;
}



#therme {
    max-width:456px;
    max-height:305px;
    width: 100%;
}


.buddhist {
    max-width:456px;
    width: 100%;
    
}

#aboutheader {
  max-height: 640px;
  width: 100%; 
}


#underconstruction {
    color:red;
}

.indextag {
  position: absolute; 
    top: 300px; 
   left: 80px; 
   height: 100%; 
  color:white;
}
#explore {
  position: absolute; 
    top: 580px; 
    left: 626px;
  color:white;
  width: 100%; 
}
.visit {
  width:100%;
}
